/* about */
.about-img {
	width: 200px;
	border-radius: 0.5rem;
	justify-self: center;
	align-self: center;
}

.about-details {
	margin-bottom: var(--mb-1-5);
}

.about-details ul li {
	padding: 12px 0 12px 0;
	border-bottom: 1px solid #dfdfdf;
}

.about-description {
	text-align: center;
	margin-bottom: var(--mb-2-5);
}

.about-info {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: var(--mb-2-5);
}

.about-info-title {
	font-size: var(--h2-font-size);
	font-weight: var(--font-semi-bold);
	color: var(--title-color);
}

.about-info-name {
	font-size: var(--smaller-font-size);
}

.about-info-title,
.about-info-name {
	display: block;
	text-align: center;
}

.about-buttons {
	display: flex;
	justify-content: center;
}
