/* portfolio details page */
.images-container {
	margin-bottom: var(--mb-3);
}

.image-div {
	display: flex;
	justify-content: center;
	padding: 0 1.5rem;
}

.details-img {
	width: 265px;
	height: auto;
	justify-self: center;
}

.details-description {
	margin-bottom: var(--mb-2);
}

.details-tech ul li {
	padding: 12px 0 12px 0;
	border-bottom: 1px solid #dfdfdf;
}

.detail-buttons {
	margin-top: var(--mb-1-5);
	text-align: center;
}

.detail-button {
	margin-bottom: var(--mb-0-75);
	margin-right: var(--mb-0-75);
}